nav {
    background-color: #222831;
}

footer {
    background-color: #222831;
}

a.footer-link:hover {
    color:white;
}

/* CALLOUT */
.callout {
	 padding: 20px;
	 margin: 20px 0;
	 border: 1px solid #eee;
	 border-left-width: 5px;
	 border-radius: 3px;
}
 .callout h4 {
	 margin-top: 0;
	 margin-bottom: 5px;
}
 .callout p:last-child {
	 margin-bottom: 0;
}
 .callout code {
	 border-radius: 3px;
}
 .callout + .bs-callout {
	 margin-top: -5px;
}
 .callout-success {
	 border-left-color: #5cb85c;
}
 .callout-success h4 {
	 color: #5cb85c;
}
 .callout-danger {
	 border-left-color: #d9534f;
}
 .callout-danger h4 {
	 color: #d9534f;
}
