<footer class="w-100 fixed-bottom pb-2">
        <div class="d-flex flex-row justify-content-end container">
            <a class="footer-link text-muted text-decoration-none me-2" href="#">About</a>
            <a class="footer-link text-muted text-decoration-none me-2" href="#">Developers</a>
            <a class="footer-link text-muted text-decoration-none me-2" href="#">Suggest a feature</a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>